.expenses {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
  }

.hiden-years {
    color: rgb(161, 161, 161);
    padding: 0 1rem;
  }   